@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-logo {
  width: 150px;
}

.dash-logo {
  width: 125px;
}
@media screen and (max-width: 767px) {
  .dashboard {
    display: none;
  }
}
